@font-face {
  font-family: "Circular";
  src: url("fonts/CircularStd-Book.woff"); }
@font-face {
  font-family: "Circular";
  src: url("fonts/CircularStd-Black.woff");
  font-weight: bold; }
html, body {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  font-family: 'Circular', sans-serif;
  color: #1e1e1e; }

h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 0.05em; }
  h1 span {
    color: #f7df1e; }

h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 4rem 0;
  padding: 0;
  font-weight: 700;
  font-size: 2em;
  color: #323232;
  text-transform: lowercase; }

p {
  text-align: center;
  font-weight: 400;
  color: white;
  letter-spacing: 0.05em; }

.introduction {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #1e1e1e;
  color: white; }
  .introduction svg {
    position: absolute;
    bottom: 2rem; }

.container {
  width: 50%;
  margin: 8rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .container {
      width: 90%; } }
  .container .example {
    border-radius: 3px;
    background-color: rgba(50, 50, 50, 0.9);
    width: 45%;
    margin: 2rem 0; }
  .container.single-column {
    justify-content: center; }
    .container.single-column .example {
      width: 55%; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232; }
  .footer p {
    padding: 4rem 0; }
